<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="outputter" class="com.naver.myhome1.sample5.FileOutputter">
		<property name="filePath">
			<value>out2.txt</value>
		</property>
	</bean>

	<bean id="m3" class="com.naver.myhome1.sample5.MessageBeanImpl">
	 	<constructor-arg index="0">
			<value>Spring</value>
		</constructor-arg>
		<property name="greeting">
			<value>Hello!</value>
		</property>
		<property name="outputter">
			<ref bean="outputter" />
		</property>
	</bean>
	
</beans>
